<h1>{{getTitile()}}</h1>
<h1 [textContent]="getTitile()"></h1>

<ul>
  <li *ngFor="let blog of blogs">{{blog}}</li>
</ul>

<p>{{number}}</p>
<p id="titlemgs"></p>

<div (click)="div2clicked()">
  <div (click)="div1clicked()">
    <button (click)="clicked($event)">Submit</button>
  </div>
</div>

<div class="blog-post-container">
  <div class="blog-post" *ngFor="let blogPost of blogPosts">
    <h3>{{blogPost.title}}</h3>
    <p>{{blogPost.description}}</p>
    <p>-- {{blogPost.author}}</p>
  </div>
</div>


<div style="margin-top: 10px;">
  <input type="text" [(ngModel)]="email">
  <button (click)="onSave()">Save</button>
  <p>{{email}}</p>
</div>

<app-user></app-user>